In [16]:
import torch
import pandas as pd
import pickle
from lenskit.algorithms.als import BiasedMF
from lenskit.batch import predict
from lenskit.metrics.predict import rmse

In [21]:
train = pd.read_pickle("../data/splits/train.pkl")
val = pd.read_pickle("../data/splits/val.pkl")
test = pd.read_pickle("../data/splits/test.pkl")

In [22]:
test.head()

     user  item  rating   timestamp
86      1  2683     3.5  1094785650
169     1  8482     3.5  1112485781
119     1  4306     4.0  1094785784
5       1   112     3.5  1094785740
0       1     2     3.5  1112486027

In [4]:
algo = BiasedMF(30)

In [56]:
algo.fit(train[:600])

In [59]:
preds = predict(algo, val[100:300])

In [60]:
preds["prediction"].values

array([       nan, 3.4661593 ,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan, 3.37087849, 4.63494469,        nan, 3.54256566,
              nan,        nan, 3.18046383,        nan, 3.72310142,
       3.93072653, 3.71192281,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan])

In [61]:
rmse(preds["prediction"], preds["rating"])

1.223269315010456

In [55]:
val[200:400]

      user   item  rating   timestamp
1324    11  31878     5.0  1230854021
1336    11  34319     4.0  1230788451
1345    11  37386     1.5  1230784056
1346    11  37830     5.0  1230788438
1355    11  43928     2.5  1230788917
...    ...    ...     ...         ...
2649    24   1073     2.0  1000098839
2653    24   1120     4.0   995096982
2655    24   1127     3.0   993972376
2666    24   1215     3.0   993972341
2670    24   1258     5.0  1000098818

[200 rows x 4 columns]