In [2]:
import torch
import pandas as pd
import pickle
import numpy as np
from lenskit.algorithms.als import BiasedMF
from lenskit.batch import predict
from lenskit.metrics.predict import rmse

In [4]:
train = pd.read_pickle("../data/ml-20m-split/train.pkl")
val = pd.read_pickle("../data/ml-20m-split/val.pkl")
test = pd.read_pickle("../data/ml-20m-split/test.pkl")
ratings = pd.read_csv("../data/ml-20m/ratings.csv")
ratings = ratings.rename(columns={'userId': 'user', 'movieId': 'item'})

In [ ]:
test.head()

In [ ]:
algo = BiasedMF(30)

In [ ]:
algo_fit = algo.fit(train[:800])

In [ ]:
algo_fit.user_features_.shape

In [ ]:
preds = predict(algo, val[:300])

In [ ]:
preds["prediction"].values

In [ ]:
rmse(preds["prediction"], preds["rating"])

In [ ]:
val[200:400]

In [ ]:
train.head()

In [5]:
freqs_series = train.groupby("user").size()

In [6]:
freqs = freqs_series.reset_index().rename(columns={0: "num_items"})

In [7]:
freqs["user"] -= 1

In [8]:
freqs2 = freqs.groupby("num_items").size().reset_index().rename(columns={0: "num_users"})

In [ ]:
freqs2 = freqs2.sort_values(by=["num_users"], ascending=False)

In [ ]:
freqs2[freqs2["num_users"] < 32].sort_values(by=["num_items"])["num_users"].sum()

In [19]:
freqs2.sort_values(by=["num_items"])[-60:]

      num_items  num_users
1375       2029          1
1376       2036          2
1377       2040          1
1378       2075          1
1379       2076          1
1380       2110          1
1381       2119          1
1382       2126          1
1383       2148          1
1384       2159          1
1385       2171          2
1386       2178          1
1387       2184          1
1388       2201          1
1389       2220          1
1390       2229          1
1391       2231          1
1392       2297          1
1393       2304          1
1394       2365          1
1395       2368          1
1396       2378          1
1397       2393          1
1398       2398          1
1399       2414          1
1400       2416          1
1401       2442          1
1402       2456          1
1403       2479          1
1404       2512          1
1405       2521          1
1406       2526          1
1407       2546          1
1408       2555          1
1409       2563          1
1410       2617          1
1411       2619          1
1412       2663          1
1413       2705          1
1414       2736          1
1415       2771          1
1416       2865          1
1417       2866          1
1418       2871          1
1419       2927          1
1420       2965          1
1421       3048          1
1422       3167          1
1423       3295          1
1424       3349          1
1425       3492          1
1426       3618          1
1427       3731          1
1428       3749          1
1429       3813          1
1430       3844          1
1431       3864          1
1432       3952          1
1433       5261          1
1434       6478          1

In [12]:
user_ratings = train.groupby("user").size()

In [13]:
np.median(user_ratings.values)

48.0

In [14]:
user_ratings

user
1         123
2          43
3         131
4          20
5          46
         ...
138489     27
138490    106
138491     15
138492     57
138493    261
Length: 138493, dtype: int64

In [ ]:
item_ratings = train.groupby("user").size()

In [19]:
ratings.groupby("userId").size()

userId
1         175
2          61
3         187
4          28
5          66
         ...
138489     38
138490    151
138491     22
138492     82
138493    373
Length: 138493, dtype: int64

In [20]:
train.groupby("user").size()

user
1         123
2          43
3         131
4          20
5          46
         ...
138489     27
138490    106
138491     15
138492     57
138493    261
Length: 138493, dtype: int64

In [26]:
ratings

            user   item  rating   timestamp
0              1      2     3.5  1112486027
1              1     29     3.5  1112484676
2              1     32     3.5  1112484819
3              1     47     3.5  1112484727
4              1     50     3.5  1112484580
...          ...    ...     ...         ...
20000258  138493  68954     4.5  1258126920
20000259  138493  69526     4.5  1259865108
20000260  138493  69644     3.0  1260209457
20000261  138493  70286     5.0  1258126944
20000262  138493  71619     2.5  1255811136

[20000263 rows x 4 columns]

In [23]:
with open("../data/item_dict.pkl", "rb") as f:
  item_dict = pickle.load(f)

In [24]:
item_indices = [item_dict[item] for item in ratings["item"].values]

In [25]:
item_indices

[2,
 29,
 32,
 47,
 50,
 112,
 151,
 222,
 252,
 259,
 292,
 295,
 317,
 335,
 365,
 539,
 585,
 589,
 647,
 904,
 909,
 992,
 1019,
 1059,
 1060,
 1069,
 1070,
 1077,
 1115,
 1171,
 1173,
 1175,
 1177,
 1178,
 1184,
 1190,
 1191,
 1193,
 1195,
 1198,
 1214,
 1217,
 1220,
 1223,
 1232,
 1233,
 1235,
 1236,
 1240,
 1252,
 1265,
 1277,
 1294,
 1306,
 1320,
 1322,
 1330,
 1341,
 1345,
 1358,
 1480,
 1534,
 1688,
 1767,
 1838,
 1885,
 1912,
 1915,
 1939,
 2018,
 2036,
 2056,
 2058,
 2061,
 2091,
 2092,
 2111,
 2112,
 2170,
 2205,
 2208,
 2459,
 2545,
 2561,
 2564,
 2580,
 2599,
 2608,
 2632,
 2677,
 2678,
 2720,
 2788,
 2834,
 2860,
 2863,
 2875,
 2884,
 2916,
 2945,
 2952,
 2996,
 3068,
 3180,
 3351,
 3389,
 3392,
 3401,
 3411,
 3798,
 3841,
 3904,
 3905,
 3919,
 3935,
 4013,
 4036,
 4041,
 4134,
 4214,
 4354,
 4375,
 4479,
 4628,
 4661,
 4785,
 4803,
 4818,
 4822,
 4848,
 4887,
 4900,
 4933,
 4946,
 4947,
 5053,
 5078,
 5446,
 5583,
 5701,
 5720,
 5802,
 5856,
 5903,
 5997,
 6146,
 6237,
 6395,
 6432,
 6647,
 6648,
 6667,
 6700,
 6727,
 6781,
 6892,
 6936,
 6937,
 7044,
 7055,
 7138,
 7278,
 7280,
 7315,
 7326,
 7331,
 7347,
 7458,
 7772,
 7842,
 7863,
 7956,
 8010,
 8281,
 9820,
 3,
 62,
 70,
 110,
 241,
 259,
 265,
 467,
 478,
 539,
 585,
 876,
 893,
 909,
 1100,
 1173,
 1186,
 1190,
 1223,
 1233,
 1244,
 1300,
 1328,
 1496,
 1530,
 1618,
 1686,
 1883,
 1887,
 1888,
 1889,
 1890,
 1891,
 1892,
 1904,
 2208,
 2371,
 2372,
 2707,
 2774,
 2864,
 2867,
 3065,
 3074,
 3088,
 3363,
 3425,
 3445,
 3466,
 3476,
 3614,
 3664,
 3826,
 3827,
 3832,
 3835,
 3836,
 3837,
 3839,
 3845,
 3867,
 1,
 24,
 32,
 50,
 160,
 173,
 175,
 196,
 222,
 259,
 315,
 317,
 327,
 335,
 438,
 440,
 455,
 478,
 488,
 510,
 539,
 585,
 589,
 606,
 708,
 769,
 777,
 845,
 889,
 890,
 904,
 909,
 938,
 953,
 1020,
 1042,
 1054,
 1057,
 1059,
 1064,
 1069,
 1074,
 1077,
 1083,
 1104,
 1106,
 1108,
 1158,
 1166,
 1171,
 1173,
 1174,
 1175,
 1176,
 1177,
 1182,
 1184,
 1186,
 1189,
 1190,
 1191,
 1195,
 1196,
 1197,
 1198,
 1201,
 1204,
 1205,
 1214,
 1216,
 1221,
 1231,
 1232,
 1233,
 1235,
 1240,
 1244,
 1246,
 1250,
 1252,
 1262,
 1277,
 1280,
 1294,
 1303,
 1306,
 1317,
 1328,
 1343,
 1344,
 1345,
 1346,
 1347,
 1367,
 1496,
 1534,
 1553,
 1598,
 1619,
 1621,
 1663,
 1697,
 1710,
 1735,
 1752,
 1794,
 1800,
 1827,
 1835,
 1839,
 1927,
 1929,
 1930,
 1936,
 1946,
 1952,
 1964,
 1971,
 1972,
 1994,
 2011,
 2023,
 2035,
 2036,
 2058,
 2068,
 2153,
 2205,
 2228,
 2246,
 2283,
 2288,
 2308,
 2324,
 2345,
 2365,
 2372,
 2422,
 2445,
 2446,
 2447,
 2448,
 2449,
 2450,
 2458,
 2468,
 2484,
 2488,
 2491,
 2530,
 2532,
 2545,
 2557,
 2559,
 2560,
 2573,
 2578,
 2584,
 2592,
 2610,
 2615,
 2626,
 2638,
 2666,
 2704,
 2707,
 2713,
 2724,
 2773,
 2788,
 2816,
 2817,
 2832,
 2834,
 2863,
 2864,
 2865,
 2884,
 2901,
 2902,
 2948,
 2954,
 2985,
 2987,
 3013,
 3057,
 4967,
 6,
 10,
 19,
 32,
 165,
 327,
 348,
 354,
 365,
 366,
 368,
 375,
 378,
 418,
 429,
 438,
 452,
 478,
 487,
 517,
 518,
 529,
 546,
 582,
 585,
 590,
 592,
 723,
 2,
 11,
 17,
 60,
 62,
 104,
 110,
 140,
 141,
 150,
 223,
 234,
 259,
 281,
 315,
 317,
 348,
 362,
 365,
 366,
 368,
 374,
 375,
 378,
 438,
 452,
 455,
 473,
 478,
 489,
 498,
 506,
 513,
 527,
 529,
 583,
 584,
 585,
 586,
 589,
 590,
 591,
 604,
 626,
 642,
 664,
 698,
 710,
 726,
 769,
 777,
 819,
 1011,
 1018,
 1019,
 1025,
 1054,
 1059,
 1060,
 1077,
 1115,
 1173,
 1175,
 1186,
 1265,
 1364,
 1,
 3,
 7,
 17,
 52,
 62,
 135,
 140,
 141,
 259,
 492,
 623,
 642,
 647,
 698,
 709,
 723,
 726,
 732,
 751,
 769,
 777,
 791,
 1054,
 3,
 7,
 11,
 15,
 16,
 17,
 24,
 105,
 122,
 151,
 251,
 259,
 270,
 275,
 315,
 337,
 346,
 349,
 353,
 354,
 355,
 360,
 362,
 375,
 423,
 438,
 478,
 507,
 537,
 551,
 583,
 585,
 586,
 593,
 667,
 698,
 726,
 739,
 769,
 777,
 795,
 839,
 866,
 884,
 893,
 897,
 899,
 905,
 907,
 909,
 913,
 917,
 937,
 1000,
 1003,
 1057,
 1074,
 1075,
 1077,
 1081,
 1161,
 1173,
 1182,
 1186,
 1205,
 1221,
 1227,
 1230,
 1233,
 1239,
 1244,
 1245,
 1246,
 1274,
 1280,
 1315,
 1329,
 1356,
 1362,
 1364,
 1377,
 1378,
 1408,
 1416,
 1431,
 1469,
 1473,
 1496,
 1524,
 1530,
 1547,
 1566,
 1619,
 1627,
 1663,
 1709,
 1800,
 1806,
 1812,
 1829,
 1835,
 1850,
 1882,
 1929,
 1930,
 1931,
 1936,
 1946,
 1972,
 1985,
 1998,
 1999,
 2026,
 2030,
 2043,
 2064,
 2113,
 2160,
 2183,
 2214,
 2228,
 2233,
 2250,
 2263,
 2280,
 2284,
 2301,
 2302,
 2307,
 2313,
 2320,
 2322,
 2324,
 2341,
 2344,
 2380,
 2385,
 2386,
 2395,
 2415,
 2446,
 2452,
 2463,
 2475,
 2515,
 2545,
 2550,
 2557,
 2558,
 2559,
 2570,
 2573,
 2580,
 2587,
 2599,
 2610,
 2617,
 2632,
 2638,
 2639,
 2650,
 2668,
 2678,
 2686,
 2774,
 2777,
 2797,
 2824,
 2832,
 2858,
 2866,
 2875,
 2884,
 2903,
 2909,
 2920,
 2947,
 2948,
 2952,
 2954,
 2977,
 2989,
 2996,
 3001,
 3018,
 3023,
 3033,
 3071,
 3090,
 3091,
 3094,
 3100,
 3109,
 3114,
 3134,
 3150,
 3159,
 3249,
 3256,
 3269,
 3278,
 3322,
 3330,
 3361,
 3382,
 3392,
 3413,
 3422,
 3424,
 3436,
 3438,
 3439,
 3440,
 3489,
 3504,
 3582,
 3595,
 3610,
 3612,
 3628,
 3664,
 3665,
 3704,
 3709,
 3734,
 3736,
 3737,
 3753,
 3773,
 3820,
 3835,
 3841,
 3867,
 3885,
 3886,
 3895,
 3896,
 3902,
 3926,
 3927,
 3931,
 3949,
 3970,
 4063,
 4094,
 4178,
 4214,
 4216,
 4218,
 4225,
 4247,
 4257,
 4269,
 4276,
 4278,
 4372,
 4411,
 4453,
 4511,
 4534,
 4546,
 4547,
 4551,
 4569,
 4608,
 4643,
 4706,
 4755,
 4774,
 4781,
 4803,
 4870,
 4900,
 4901,
 4902,
 4916,
 1,
 3,
 6,
 10,
 19,
 21,
 39,
 47,
 48,
 110,
 150,
 153,
 161,
 165,
 168,
 172,
 173,
 185,
 207,
 208,
 230,
 235,
 252,
 265,
 275,
 276,
 287,
 291,
 295,
 315,
 327,
 336,
 337,
 342,
 347,
 348,
 351,
 353,
 354,
 355,
 362,
 365,
 370,
 375,
 378,
 379,
 432,
 440,
 452,
 455,
 478,
 498,
 506,
 525,
 537,
 548,
 549,
 550,
 551,
 583,
 584,
 585,
 586,
 588,
 589,
 591,
 593,
 606,
 642,
 723,
 354,
 845,
 1195,
 1829,
 1841,
 1915,
 2196,
 2522,
 2599,
 2604,
 2622,
 2626,
 2635,
 2638,
 2756,
 2757,
 2875,
 2932,
 3696,
 3709,
 3766,
 3817,
 3887,
 3902,
 3907,
 3930,
 3938,
 3942,
 4056,
 4277,
 4391,
 4410,
 4417,
 4427,
 4441,
 1,
 11,
 25,
 259,
 354,
 525,
 845,
 897,
 954,
 1074,
 1115,
 1173,
 1175,
 1181,
 1184,
 1186,
 1197,
 1198,
 1205,
 1214,
 1216,
 1221,
 1224,
 1277,
 1358,
 1663,
 1878,
 1946,
 1976,
 2112,
 2301,
 2446,
 2573,
 2713,
 2860,
 2864,
 2977,
 3022,
 1,
 10,
 19,
 32,
 39,
 65,
 110,
 145,
 150,
 153,
 158,
 160,
 165,
 170,
 172,
 173,
 185,
 208,
 230,
 252,
 255,
 259,
 285,
 295,
 315,
 317,
 342,
 354,
 362,
 365,
 375,
 378,
 382,
 403,
 408,
 439,
 440,
 478,
 498,
 517,
 ...]