In [10]:
import torch
import pandas as pd
import pickle
import numpy as np
from lenskit.algorithms.als import BiasedMF
from lenskit.batch import predict
from lenskit.metrics.predict import rmse

In [21]:
train = pd.read_pickle("../data/ml-20m-split/train.pkl")
val = pd.read_pickle("../data/ml-20m-split/val.pkl")
test = pd.read_pickle("../data/ml-20m-split/test.pkl")
ratings = pd.read_csv("../data/ml-20m/ratings.csv")
ratings = ratings.rename(columns={'userId': 'user', 'movieId': 'item'})

In [55]:
test.head()

     user  item  rating   timestamp
86      1  2683     3.5  1094785650
169     1  8482     3.5  1112485781
119     1  4306     4.0  1094785784
5       1   112     3.5  1094785740
0       1     2     3.5  1112486027

In [65]:
algo = BiasedMF(30)

In [66]:
algo_fit = algo.fit(train[:800])

In [72]:
algo_fit.user_features_.shape

(11, 30)

In [63]:
preds = predict(algo, val[:300])

In [64]:
preds["prediction"].values

array([3.4222084 , 3.84325577,        nan, 3.9314203 , 3.92816578,
       4.01567657,        nan,        nan,        nan, 3.71318274,
              nan, 4.02778894,        nan,        nan,        nan,
              nan, 3.66295553,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan, 3.60892355,        nan, 4.99295349,        nan,
              nan, 3.74438137, 3.52554412,        nan,        nan,
       4.66773143, 4.21865286,        nan, 3.74431611, 4.02768752,
       4.13513965,        nan,        nan,        nan,        nan,
       4.40863561, 4.00736817,        nan,        nan,        nan,
       4.13513965,        nan, 4.10395713, 4.06257091,        nan,
              nan,        nan,        nan, 4.00239079,        nan,
              nan, 4.13467334,        nan,        nan,        nan,
              nan,        nan,        nan, 4.05767454, 3.93919558,
       4.13117007, 3.99746117,        nan, 4.94484486,        nan,
              nan,        nan,        nan, 4.394094  ,        nan,
              nan, 3.52235487,        nan,        nan,        nan,
       3.45250118, 3.71851709,        nan,        nan,        nan,
       2.57397695,        nan,        nan,        nan,        nan,
       3.38884624,        nan,        nan,        nan, 3.19395068,
              nan, 3.33611284,        nan,        nan, 3.7115531 ,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan, 3.58724736,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan, 3.57176359, 4.04015987, 3.89500464, 3.66557007,
              nan, 3.74696775, 3.82212539,        nan, 3.91082824,
       3.87295272, 3.87767516, 3.59021881,        nan,        nan,
              nan,        nan, 4.05282772, 3.99050667, 3.99050667,
       3.88992632, 3.8580565 , 3.88501115,        nan, 4.18904787,
       4.0200798 , 3.80878835, 3.88773489, 3.88773489,        nan,
              nan,        nan,        nan, 3.96670019, 3.92977634,
       3.85761824, 3.93416694,        nan, 3.97274422,        nan,
              nan, 3.77944583,        nan,        nan, 3.80741653,
              nan, 3.39358502,        nan,        nan,        nan,
              nan, 3.97817482, 3.68587992,        nan, 4.04718674,
              nan,        nan, 3.91331628,        nan,        nan,
              nan,        nan,        nan,        nan, 3.51170491,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan, 3.64557537,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan])

In [61]:
rmse(preds["prediction"], preds["rating"])

1.223269315010456

In [55]:
val[200:400]

      user   item  rating   timestamp
1324    11  31878     5.0  1230854021
1336    11  34319     4.0  1230788451
1345    11  37386     1.5  1230784056
1346    11  37830     5.0  1230788438
1355    11  43928     2.5  1230788917
...    ...    ...     ...         ...
2649    24   1073     2.0  1000098839
2653    24   1120     4.0   995096982
2655    24   1127     3.0   993972376
2666    24   1215     3.0   993972341
2670    24   1258     5.0  1000098818

[200 rows x 4 columns]

In [5]:
train.head()

   user  item  rating   timestamp
1     1    29     3.5  1112484676
3     1    47     3.5  1112484727
4     1    50     3.5  1112484580
6     1   151     4.0  1094785734
8     1   253     4.0  1112484940

In [23]:
freqs_series = train.groupby("user").size()

In [24]:
freqs = freqs_series.reset_index().rename(columns={0: "num_items"})

In [39]:
freqs

          user  num_items
0            1        123
1            2         43
2            3        131
3            4         20
4            5         46
...        ...        ...
138488  138489         27
138489  138490        106
138490  138491         15
138491  138492         57
138492  138493        261

[138493 rows x 2 columns]

In [32]:
freqs2 = freqs.groupby("num_items").size().reset_index().rename(columns={0: "num_users"})

In [36]:
freqs2 = freqs2.sort_values(by=["num_users"], ascending=False)

In [53]:
freqs2[freqs2["num_users"] < 32].sort_values(by=["num_items"])["num_users"].sum()

6401

In [52]:
freqs2[:60]

    num_items  num_users
1          15       5936
3          17       4764
0          14       4485
6          20       3938
8          22       3487
11         25       3000
2          16       2641
13         27       2629
15         29       2520
17         31       2251
4          18       2164
22         36       2086
20         34       2037
5          19       2016
25         39       1937
7          21       1934
27         41       1717
9          23       1661
29         43       1619
10         24       1531
31         45       1475
12         26       1431
14         28       1394
34         48       1357
36         50       1309
21         35       1251
39         53       1244
16         30       1163
57         71       1122
41         55       1119
18         32       1113
19         33       1091
43         57       1036
45         59       1025
23         37        964
24         38        960
59         73        948
48         62        927
50         64        895
26         40        876
28         42        859
62         76        810
53         67        805
30         44        784
55         69        783
64         78        772
67         81        737
56         70        727
33         47        725
35         49        703
32         46        684
38         52        665
69         83        658
71         85        654
73         87        640
37         51        595
76         90        591
40         54        574
83         97        556
81         95        545

In [12]:
user_ratings = train.groupby("user").size()

In [13]:
np.median(user_ratings.values)

48.0

In [14]:
user_ratings

user
1         123
2          43
3         131
4          20
5          46
         ...
138489     27
138490    106
138491     15
138492     57
138493    261
Length: 138493, dtype: int64

In [ ]:
item_ratings = train.groupby("user").size()

In [19]:
ratings.groupby("userId").size()

userId
1         175
2          61
3         187
4          28
5          66
         ...
138489     38
138490    151
138491     22
138492     82
138493    373
Length: 138493, dtype: int64

In [20]:
train.groupby("user").size()

user
1         123
2          43
3         131
4          20
5          46
         ...
138489     27
138490    106
138491     15
138492     57
138493    261
Length: 138493, dtype: int64

In [26]:
ratings

            user   item  rating   timestamp
0              1      2     3.5  1112486027
1              1     29     3.5  1112484676
2              1     32     3.5  1112484819
3              1     47     3.5  1112484727
4              1     50     3.5  1112484580
...          ...    ...     ...         ...
20000258  138493  68954     4.5  1258126920
20000259  138493  69526     4.5  1259865108
20000260  138493  69644     3.0  1260209457
20000261  138493  70286     5.0  1258126944
20000262  138493  71619     2.5  1255811136

[20000263 rows x 4 columns]

In [23]:
with open("../data/item_dict.pkl", "rb") as f:
  item_dict = pickle.load(f)

In [24]:
item_indices = [item_dict[item] for item in ratings["item"].values]

In [25]:
item_indices

[2,
 29,
 32,
 47,
 50,
 112,
 151,
 222,
 252,
 259,
 292,
 295,
 317,
 335,
 365,
 539,
 585,
 589,
 647,
 904,
 909,
 992,
 1019,
 1059,
 1060,
 1069,
 1070,
 1077,
 1115,
 1171,
 1173,
 1175,
 1177,
 1178,
 1184,
 1190,
 1191,
 1193,
 1195,
 1198,
 1214,
 1217,
 1220,
 1223,
 1232,
 1233,
 1235,
 1236,
 1240,
 1252,
 1265,
 1277,
 1294,
 1306,
 1320,
 1322,
 1330,
 1341,
 1345,
 1358,
 1480,
 1534,
 1688,
 1767,
 1838,
 1885,
 1912,
 1915,
 1939,
 2018,
 2036,
 2056,
 2058,
 2061,
 2091,
 2092,
 2111,
 2112,
 2170,
 2205,
 2208,
 2459,
 2545,
 2561,
 2564,
 2580,
 2599,
 2608,
 2632,
 2677,
 2678,
 2720,
 2788,
 2834,
 2860,
 2863,
 2875,
 2884,
 2916,
 2945,
 2952,
 2996,
 3068,
 3180,
 3351,
 3389,
 3392,
 3401,
 3411,
 3798,
 3841,
 3904,
 3905,
 3919,
 3935,
 4013,
 4036,
 4041,
 4134,
 4214,
 4354,
 4375,
 4479,
 4628,
 4661,
 4785,
 4803,
 4818,
 4822,
 4848,
 4887,
 4900,
 4933,
 4946,
 4947,
 5053,
 5078,
 5446,
 5583,
 5701,
 5720,
 5802,
 5856,
 5903,
 5997,
 6146,
 6237,
 6395,
 6432,
 6647,
 6648,
 6667,
 6700,
 6727,
 6781,
 6892,
 6936,
 6937,
 7044,
 7055,
 7138,
 7278,
 7280,
 7315,
 7326,
 7331,
 7347,
 7458,
 7772,
 7842,
 7863,
 7956,
 8010,
 8281,
 9820,
 3,
 62,
 70,
 110,
 241,
 259,
 265,
 467,
 478,
 539,
 585,
 876,
 893,
 909,
 1100,
 1173,
 1186,
 1190,
 1223,
 1233,
 1244,
 1300,
 1328,
 1496,
 1530,
 1618,
 1686,
 1883,
 1887,
 1888,
 1889,
 1890,
 1891,
 1892,
 1904,
 2208,
 2371,
 2372,
 2707,
 2774,
 2864,
 2867,
 3065,
 3074,
 3088,
 3363,
 3425,
 3445,
 3466,
 3476,
 3614,
 3664,
 3826,
 3827,
 3832,
 3835,
 3836,
 3837,
 3839,
 3845,
 3867,
 1,
 24,
 32,
 50,
 160,
 173,
 175,
 196,
 222,
 259,
 315,
 317,
 327,
 335,
 438,
 440,
 455,
 478,
 488,
 510,
 539,
 585,
 589,
 606,
 708,
 769,
 777,
 845,
 889,
 890,
 904,
 909,
 938,
 953,
 1020,
 1042,
 1054,
 1057,
 1059,
 1064,
 1069,
 1074,
 1077,
 1083,
 1104,
 1106,
 1108,
 1158,
 1166,
 1171,
 1173,
 1174,
 1175,
 1176,
 1177,
 1182,
 1184,
 1186,
 1189,
 1190,
 1191,
 1195,
 1196,
 1197,
 1198,
 1201,
 1204,
 1205,
 1214,
 1216,
 1221,
 1231,
 1232,
 1233,
 1235,
 1240,
 1244,
 1246,
 1250,
 1252,
 1262,
 1277,
 1280,
 1294,
 1303,
 1306,
 1317,
 1328,
 1343,
 1344,
 1345,
 1346,
 1347,
 1367,
 1496,
 1534,
 1553,
 1598,
 1619,
 1621,
 1663,
 1697,
 1710,
 1735,
 1752,
 1794,
 1800,
 1827,
 1835,
 1839,
 1927,
 1929,
 1930,
 1936,
 1946,
 1952,
 1964,
 1971,
 1972,
 1994,
 2011,
 2023,
 2035,
 2036,
 2058,
 2068,
 2153,
 2205,
 2228,
 2246,
 2283,
 2288,
 2308,
 2324,
 2345,
 2365,
 2372,
 2422,
 2445,
 2446,
 2447,
 2448,
 2449,
 2450,
 2458,
 2468,
 2484,
 2488,
 2491,
 2530,
 2532,
 2545,
 2557,
 2559,
 2560,
 2573,
 2578,
 2584,
 2592,
 2610,
 2615,
 2626,
 2638,
 2666,
 2704,
 2707,
 2713,
 2724,
 2773,
 2788,
 2816,
 2817,
 2832,
 2834,
 2863,
 2864,
 2865,
 2884,
 2901,
 2902,
 2948,
 2954,
 2985,
 2987,
 3013,
 3057,
 4967,
 6,
 10,
 19,
 32,
 165,
 327,
 348,
 354,
 365,
 366,
 368,
 375,
 378,
 418,
 429,
 438,
 452,
 478,
 487,
 517,
 518,
 529,
 546,
 582,
 585,
 590,
 592,
 723,
 2,
 11,
 17,
 60,
 62,
 104,
 110,
 140,
 141,
 150,
 223,
 234,
 259,
 281,
 315,
 317,
 348,
 362,
 365,
 366,
 368,
 374,
 375,
 378,
 438,
 452,
 455,
 473,
 478,
 489,
 498,
 506,
 513,
 527,
 529,
 583,
 584,
 585,
 586,
 589,
 590,
 591,
 604,
 626,
 642,
 664,
 698,
 710,
 726,
 769,
 777,
 819,
 1011,
 1018,
 1019,
 1025,
 1054,
 1059,
 1060,
 1077,
 1115,
 1173,
 1175,
 1186,
 1265,
 1364,
 1,
 3,
 7,
 17,
 52,
 62,
 135,
 140,
 141,
 259,
 492,
 623,
 642,
 647,
 698,
 709,
 723,
 726,
 732,
 751,
 769,
 777,
 791,
 1054,
 3,
 7,
 11,
 15,
 16,
 17,
 24,
 105,
 122,
 151,
 251,
 259,
 270,
 275,
 315,
 337,
 346,
 349,
 353,
 354,
 355,
 360,
 362,
 375,
 423,
 438,
 478,
 507,
 537,
 551,
 583,
 585,
 586,
 593,
 667,
 698,
 726,
 739,
 769,
 777,
 795,
 839,
 866,
 884,
 893,
 897,
 899,
 905,
 907,
 909,
 913,
 917,
 937,
 1000,
 1003,
 1057,
 1074,
 1075,
 1077,
 1081,
 1161,
 1173,
 1182,
 1186,
 1205,
 1221,
 1227,
 1230,
 1233,
 1239,
 1244,
 1245,
 1246,
 1274,
 1280,
 1315,
 1329,
 1356,
 1362,
 1364,
 1377,
 1378,
 1408,
 1416,
 1431,
 1469,
 1473,
 1496,
 1524,
 1530,
 1547,
 1566,
 1619,
 1627,
 1663,
 1709,
 1800,
 1806,
 1812,
 1829,
 1835,
 1850,
 1882,
 1929,
 1930,
 1931,
 1936,
 1946,
 1972,
 1985,
 1998,
 1999,
 2026,
 2030,
 2043,
 2064,
 2113,
 2160,
 2183,
 2214,
 2228,
 2233,
 2250,
 2263,
 2280,
 2284,
 2301,
 2302,
 2307,
 2313,
 2320,
 2322,
 2324,
 2341,
 2344,
 2380,
 2385,
 2386,
 2395,
 2415,
 2446,
 2452,
 2463,
 2475,
 2515,
 2545,
 2550,
 2557,
 2558,
 2559,
 2570,
 2573,
 2580,
 2587,
 2599,
 2610,
 2617,
 2632,
 2638,
 2639,
 2650,
 2668,
 2678,
 2686,
 2774,
 2777,
 2797,
 2824,
 2832,
 2858,
 2866,
 2875,
 2884,
 2903,
 2909,
 2920,
 2947,
 2948,
 2952,
 2954,
 2977,
 2989,
 2996,
 3001,
 3018,
 3023,
 3033,
 3071,
 3090,
 3091,
 3094,
 3100,
 3109,
 3114,
 3134,
 3150,
 3159,
 3249,
 3256,
 3269,
 3278,
 3322,
 3330,
 3361,
 3382,
 3392,
 3413,
 3422,
 3424,
 3436,
 3438,
 3439,
 3440,
 3489,
 3504,
 3582,
 3595,
 3610,
 3612,
 3628,
 3664,
 3665,
 3704,
 3709,
 3734,
 3736,
 3737,
 3753,
 3773,
 3820,
 3835,
 3841,
 3867,
 3885,
 3886,
 3895,
 3896,
 3902,
 3926,
 3927,
 3931,
 3949,
 3970,
 4063,
 4094,
 4178,
 4214,
 4216,
 4218,
 4225,
 4247,
 4257,
 4269,
 4276,
 4278,
 4372,
 4411,
 4453,
 4511,
 4534,
 4546,
 4547,
 4551,
 4569,
 4608,
 4643,
 4706,
 4755,
 4774,
 4781,
 4803,
 4870,
 4900,
 4901,
 4902,
 4916,
 1,
 3,
 6,
 10,
 19,
 21,
 39,
 47,
 48,
 110,
 150,
 153,
 161,
 165,
 168,
 172,
 173,
 185,
 207,
 208,
 230,
 235,
 252,
 265,
 275,
 276,
 287,
 291,
 295,
 315,
 327,
 336,
 337,
 342,
 347,
 348,
 351,
 353,
 354,
 355,
 362,
 365,
 370,
 375,
 378,
 379,
 432,
 440,
 452,
 455,
 478,
 498,
 506,
 525,
 537,
 548,
 549,
 550,
 551,
 583,
 584,
 585,
 586,
 588,
 589,
 591,
 593,
 606,
 642,
 723,
 354,
 845,
 1195,
 1829,
 1841,
 1915,
 2196,
 2522,
 2599,
 2604,
 2622,
 2626,
 2635,
 2638,
 2756,
 2757,
 2875,
 2932,
 3696,
 3709,
 3766,
 3817,
 3887,
 3902,
 3907,
 3930,
 3938,
 3942,
 4056,
 4277,
 4391,
 4410,
 4417,
 4427,
 4441,
 1,
 11,
 25,
 259,
 354,
 525,
 845,
 897,
 954,
 1074,
 1115,
 1173,
 1175,
 1181,
 1184,
 1186,
 1197,
 1198,
 1205,
 1214,
 1216,
 1221,
 1224,
 1277,
 1358,
 1663,
 1878,
 1946,
 1976,
 2112,
 2301,
 2446,
 2573,
 2713,
 2860,
 2864,
 2977,
 3022,
 1,
 10,
 19,
 32,
 39,
 65,
 110,
 145,
 150,
 153,
 158,
 160,
 165,
 170,
 172,
 173,
 185,
 208,
 230,
 252,
 255,
 259,
 285,
 295,
 315,
 317,
 342,
 354,
 362,
 365,
 375,
 378,
 382,
 403,
 408,
 439,
 440,
 478,
 498,
 517,
 ...]