In [2]:
import torch
import pandas as pd
import pickle
import numpy as np
import time

In [3]:
ratings = pd.read_pickle("../data/ml-1m-split/train.pkl")

In [4]:
interactions = ratings.drop(["item_id", "rating"], axis=1)

In [5]:
interactions_sorted = interactions.sort_values(by=["user", "timestamp"])

In [12]:
prev_user = 0
prev_list = []
user_items = []
i = 1
for row in interactions_sorted.itertuples(index=False):
  if row.user == prev_user:
    prev_list.append(row.item)
  else:
    i += 1
    assert(row.user == prev_user + 1)
    assert(len(prev_list) > 0)
    user_items.append(np.asarray(prev_list))
    prev_list = [row.item]
    prev_user = row.user
    if prev_user % 10000 == 0:
      print(prev_user)


user_items.append(np.asarray(prev_list))
      
print(i)

6040

In [13]:
user_items = np.asarray(user_items)

In [14]:
len(user_items)

6040

In [15]:
np.save("../data/user_items_1m.npy", user_items)

In [101]:
with open("../data/user_items.pkl", "wb") as f:
  pickle.dump(user_items, f)

In [33]:
len(user_items)

138492

In [39]:
interactions_sorted

            user   item   timestamp
19             0    902  1094785621
86             0   2597  1094785650
61             0   1532  1094785656
18             0    645  1094785691
96             0   2873  1094785698
...          ...    ...         ...
20000213  138492  10593  1260209726
20000187  138492   9271  1260209807
20000140  138492   6424  1260209908
19999965  138492   1247  1262378552
19999916  138492    401  1262378572

[13999448 rows x 3 columns]

In [16]:
user_items

array([array([2969, 1178, 1574, 2147, 1658, 3177, 2599, 1117,  689,  253,  593,
       2488, 1781, 1848, 1838,  144, 1025, 1195, 1154,  639, 2710,  517,
       2898, 2586,  580, 2205, 1421,  513, 2483,  708,  574,    0, 2162,
       2102, 1439, 1727,   47]),
       array([1108, 1127, 1201, 2735, 1104,  309, 2816, 1123, 1117, 3235, 2821,
       1886, 2931, 2889, 1106, 1777, 1656, 1012, 1782, 3238, 3412, 3493,
       1167, 1774, 1618, 2523, 1031,  841, 3219, 2645, 3107,  258, 2120,
        576, 1161, 1152, 3457, 1775, 1153, 2046, 3436,  920, 2078, 1337,
        228, 1024, 1047,  484, 1154, 3647, 1414, 1099, 2166, 2892, 1173,
       3566,  575, 1848,  443, 2708, 1478,  157, 3186, 3032, 1306,   20,
        339, 1406, 2160, 1826, 2234, 1623, 1273, 1428, 1286,  737, 2891,
       1631,  159,  445,  428, 2426, 1553, 1822,  283,   92, 1550,  420,
       1420, 1737]),
       array([ 579, 2651, 3301, 1788, 1327, 1174, 1279, 1280,  576,  253, 1106,
       2664, 1107, 2952, 1120, 1199, 1449, 1169, 1483, 2277, 1934,  538,
        627, 2530, 1059, 3189, 2785, 1212, 3379, 1178, 1007, 1504, 2162,
       3318,  101, 3622]),
       ...,
       array([ 859, 3165,  346, 1288, 1007, 1066, 2511, 2872,  225, 1059, 1133,
       1316, 2495, 1094]),
       array([ 275,  107, 1886, 1139, 2809,  886, 2872, 2917, 1202, 3189, 2599,
        894, 1152, 1184, 2586, 2203,  963, 2656, 1107, 3314,  890, 1133,
        872, 2857,  874, 2469, 1212, 2821, 3134,  949, 1006,  848, 1173,
       3165, 1993, 1754,  884,  457,  855, 2097, 1048, 2814, 1504, 3238,
        713, 1120, 1025, 1906,  858, 2368, 3311,  839,  857, 1190,  838,
        902, 1767, 1771, 1902, 1281,  104, 1009,  840, 1915,  877, 1016,
       1899,  740, 1011, 1314,  193,  843, 1122,  889, 1784, 2024, 2026,
        845, 2221, 1543,  865, 1146,  862,  802,  861, 1162]),
       array([ 802, 2191, 1781, 1839, 1316,  207, 1586,  851,  858, 2309,  513,
        628,  309, 1160, 3063,  721, 2651,  593, 2203,  316, 1848,   16,
       2557,  239, 2488, 1485,  291, 1293,  535,  548,  258, 1260,  228,
        240,  432, 1022,   49,   44,  156,  338, 2383, 1556, 1656, 2198,
        347, 1504, 1100, 1135, 1207, 2852, 2652, 2317, 3309, 1201, 1204,
       3192, 1148, 1167, 1208, 1106, 1108, 1109, 2156, 2853, 1196, 1215,
       1295, 1018, 1096, 3288, 1782, 2586, 1025, 2857, 1110, 1193, 1007,
       2775, 1275, 1120, 1277, 2511, 1969, 1154, 3190, 2885, 2545, 1213,
       1224, 2645, 3115, 3318, 2707, 1199, 1203, 3217,  578, 1130, 1526,
       1047, 1919, 1831, 2777, 2803, 2540, 2541, 2094, 2176, 1842, 2773,
       2597, 3291, 1953, 1811, 1823, 1085, 1930, 1841, 2512, 2546, 2589,
       2185, 2263, 1274, 2218, 2804, 2215, 2051, 1019, 2209, 2228, 1966,
       3004, 1138, 2881,  852, 2873,  253, 3038, 1104,  713,  847, 1146,
       1155, 1139,  297, 1118, 1162, 1184, 1830, 1144, 1749, 1123, 1129,
       1032, 2730, 2981, 1059, 2400, 1158,  287, 2097, 1159, 1188,   78,
       2918, 2523,  863, 1084,   35,  689,  869, 1765, 1113, 3130, 1008,
        859,   29, 1171,  324,  855,  917, 2762, 1500, 2785, 1031,  148,
        976, 3493, 2410, 2443, 1342, 3271, 2111, 3107,  256,   31, 1152,
        690, 1256, 1786,  754,  931, 1172, 2058, 2246, 3313, 1132, 1774,
       2202, 1783, 1559, 1157, 2108, 2867, 3575, 1099, 3461,  363, 1537,
       1181,  521,  481, 1005, 2965, 2378, 1122, 3189, 1166, 1178, 1887,
       1767, 1236,  892, 2520, 1741, 1618,  155, 1131])], dtype=object)