In [24]:
import torch
import pandas as pd
import pickle
import numpy as np
import time

In [25]:
ratings = pd.read_pickle("../data/ml-20m-split/train.pkl")

In [26]:
interactions = ratings.drop(["item_id", "rating"], axis=1)

In [27]:
interactions_sorted = interactions.sort_values(by=["user", "timestamp"])

In [50]:
prev_user = 0
prev_list = []
user_items = []
i = 1
for row in interactions_sorted.itertuples(index=False):
  if row.user == prev_user:
    prev_list.append(row.item)
  else:
    i += 1
    if row.user != prev_user + 1:
      print("BREAK")
      print(row.user)
      print(prev_user)
      
    assert(row.user == prev_user + 1)
    assert(len(prev_list) > 0)
    user_items.append(np.asarray(prev_list))
    prev_list = [row.item]
    prev_user = row.user
    if prev_user % 10000 == 0:
      print(prev_user)


user_items.append(np.asarray(prev_list))
      
print(i)

10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
138493

In [51]:
user_items = np.asarray(user_items)

In [52]:
len(user_items)

138493

In [53]:
np.save("../data/user_items_numpy.npy", user_items)

In [101]:
with open("../data/user_items.pkl", "wb") as f:
  pickle.dump(user_items, f)

In [33]:
len(user_items)

138492

In [39]:
interactions_sorted

            user   item   timestamp
19             0    902  1094785621
86             0   2597  1094785650
61             0   1532  1094785656
18             0    645  1094785691
96             0   2873  1094785698
...          ...    ...         ...
20000213  138492  10593  1260209726
20000187  138492   9271  1260209807
20000140  138492   6424  1260209908
19999965  138492   1247  1262378552
19999916  138492    401  1262378572

[13999448 rows x 3 columns]