In [11]:
import torch
import pandas as pd
import pickle
import numpy as np
from collections import defaultdict

In [19]:
#genres = ['Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'IMAX', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
genres = ["Action", "Adventure", "Animation", "Children's", "Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
NUM_GENRES = len(genres)
NUM_TAGS = 6
EMBEDDING_DIM = 50
INPUT_DIM = NUM_GENRES + (NUM_TAGS * EMBEDDING_DIM)

In [13]:
print("Loading GloVe embeddings...")
with open("../data/glove.twitter.27B/glove.twitter.27B.{}d.txt".format(EMBEDDING_DIM)) as glove_file:
    glove_embeddings = defaultdict(lambda: np.random.rand(EMBEDDING_DIM))
    i = 0
    for line in glove_file.readlines():
        values = line.split(" ")
        word = values[0]
        embedding = np.asarray(values[1:], dtype="float32")
        assert(len(embedding) == EMBEDDING_DIM)
        glove_embeddings[word] = embedding
        
        if i % 100000 == 0:
            print(i)
        i += 1
        
print("Done")

Loading GloVe embeddings...
0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
Done

In [20]:
ratings = pd.read_pickle("../data/ml-1m-split/full.pkl")
movies = pd.read_csv("../data/ml-1m/movies.dat", sep="::", engine="python", header=None)
movies = movies.rename(columns={0: "movieId", 1: "title", 2: "genres"})
tags = pd.read_csv("../data/ml-20m/tags.csv")
tags = tags.drop(["userId", "timestamp"], axis=1)
tags["tag"] = tags["tag"].str.lower()
tags

        movieId            tag
0          4141    mark waters
1           208      dark hero
2           353      dark hero
3           521  noir thriller
4           592      dark hero
...         ...            ...
465559    55999        dragged
465560    55999  jason bateman
465561    55999         quirky
465562    55999            sad
465563      923  rise to power

[465564 rows x 2 columns]

In [21]:
item_map = ratings.drop(["user", "rating", "timestamp"], axis=1).drop_duplicates()
item_map = item_map.sort_values(by="item").reset_index().drop(["index", "item"], axis=1)
app_counts = tags["tag"].value_counts()
grouped = tags.groupby(["movieId", "tag"]).size().to_frame()

In [22]:
grouped[0][1].reset_index().rename(columns={0: "apps"})

                                                  tag  apps
0                    2009 reissue in stereoscopic 3-d     1
1                                                  3d     3
2   55 movies every kid should see--entertainment ...     1
3                                       action figure     1
4                                      action figures     1
..                                                ...   ...
75                                            watched     1
76                                              witty    14
77                                              woody     1
78                                             ya boy     1
79                                          é˜®ä¸€é¸£     1

[80 rows x 2 columns]

In [23]:
def get_item_input(item):
  item_id = int(item_map.iloc[item])
  if not isinstance(grouped[0][item_id], np.int64):
    item_tags = grouped[0][item_id].reset_index().rename(columns={0: "apps"})
    item_tags["total_apps"] = [app_counts[tag] for tag in item_tags["tag"]]
    item_tags = item_tags.sort_values(by=["apps", "total_apps"], ascending=False)
    item_top_tags = item_tags[:NUM_TAGS]["tag"].values
  else:
    item_top_tags = []

  if len(item_top_tags) < NUM_TAGS:
    item_genres_lower = [genre.lower() for genre in get_genres(item_id)]
    item_top_tags = np.concatenate([item_top_tags, item_genres_lower])[:NUM_TAGS]
    if len(item_top_tags) < NUM_TAGS:
      if len(item_genres_lower) >= 1:
        item_top_tags = np.concatenate([item_top_tags, np.tile(item_genres_lower, NUM_TAGS)])[:NUM_TAGS]
      else:
          item_top_tags = np.concatenate([item_top_tags, (["movie"] * NUM_TAGS)])[:NUM_TAGS]
        
        
  assert(len(item_top_tags) == NUM_TAGS)
  
  item_tag_input = np.concatenate([get_embedding(tag) for tag in item_top_tags])
  item_genre_input = get_genre_one_hot(item_id)
  
  item_input = np.concatenate([item_genre_input, item_tag_input])
  assert(len(item_input) == INPUT_DIM)
  return item_input
  
  
def get_embedding(tag):
  return np.mean(np.asarray([glove_embeddings[token] for token in tag.split(" ")]), axis=0)


def get_genres(item_id):
  item_genres = movies[movies["movieId"] == item_id]["genres"].values[0].split("|")
  if item_genres[0] == "(no genres listed)":
    return []
  return item_genres


def get_genre_one_hot(item_id):
  item_genres = get_genres(item_id)
  one_hot = np.zeros(NUM_GENRES)
  for (i, genre) in enumerate(item_genres):
    one_hot[genres.index(genre)] = 1
  return one_hot

In [24]:
get_item_input(0)

array([ 0.00000000e+00,  0.00000000e+00,  1.00000000e+00,  1.00000000e+00,
        1.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00, -5.05900025e-01,  4.77079988e-01,
       -1.98109999e-01,  1.09770000e+00, -1.47750005e-01, -2.62030005e-01,
        4.16810006e-01, -2.68099993e-01,  3.44519988e-02, -1.13680005e+00,
        6.66419983e-01,  4.97570008e-01, -1.82490003e+00,  1.51359999e+00,
        2.97789991e-01, -4.42880005e-01, -7.23899975e-02,  1.02699995e+00,
        5.46100020e-01,  7.25040019e-01,  3.26460004e-01,  7.31450021e-02,
        1.60990000e-01, -6.33880019e-01, -2.16670007e-01,  4.13520008e-01,
       -1.12720001e+00,  2.52779990e-01, -4.64439988e-02, -2.95249999e-01,
        9.49460030e-01,  3.33840013e-01, -4.53179985e-01, -5.86880028e-01,
       -8.30190003e-01,  2.01629996e-01,  6.15300000e-01, -5.52330017e-01,
        6.91789985e-02, -5.87689996e-01,  3.14700007e-02,  1.18579999e-01,
       -5.49220026e-01, -9.55160037e-02,  3.77810001e-01,  1.03450000e+00,
       -2.11779997e-01,  5.55859983e-01, -1.12759995e+00, -5.93949974e-01,
       -1.75640002e-01,  4.91360009e-01, -1.61090001e-01, -3.20250005e-01,
        1.05890000e+00,  1.11759998e-01,  9.25660014e-01, -4.07590002e-01,
       -1.70220003e-01, -9.99970019e-01, -1.29529998e-01,  8.46260011e-01,
       -1.95319998e+00,  9.66260016e-01, -1.23109996e-01, -5.78429997e-01,
        7.71099985e-01,  4.88000005e-01,  2.79170007e-01,  5.43839991e-01,
       -8.77260029e-01, -5.03160000e-01,  6.72479987e-01, -6.68509975e-02,
       -6.20630026e-01,  5.56890011e-01, -6.93700016e-01,  5.61869979e-01,
        1.87240005e-01,  5.95080018e-01,  4.74759996e-01, -6.44540012e-01,
       -3.29569995e-01, -1.39010000e+00,  1.49719998e-01, -2.94600010e-01,
        3.58410001e-01, -7.45519996e-01,  7.61810005e-01, -7.62610018e-01,
       -2.63399988e-01, -2.97919989e-01, -1.69379994e-01,  6.81379974e-01,
       -5.78829981e-02,  7.23580003e-01, -1.09990001e-01,  3.10510010e-01,
       -8.92880023e-01, -7.00179994e-01, -4.47649986e-01,  8.09540041e-03,
       -1.58289999e-01,  8.18159997e-01, -5.99090010e-02, -2.44120002e-01,
        1.00870001e+00,  2.61960000e-01, -1.55800000e-01, -1.00199997e+00,
        4.61580008e-01,  3.41120005e-01, -3.13280010e+00,  1.08790004e+00,
       -9.91370007e-02, -1.01510003e-01, -2.57050008e-01,  9.27429974e-01,
       -1.10590003e-01,  1.17600000e+00,  5.51699996e-01, -6.65669978e-01,
       -4.42429990e-01, -5.37389994e-01, -3.28179985e-01, -1.07509995e+00,
       -8.18679988e-01, -2.43699998e-01,  3.47709991e-02, -1.25999999e+00,
        1.11620001e-01, -6.35370016e-01, -4.68840003e-01, -6.75300002e-01,
       -7.08559990e-01,  4.65749996e-03,  6.34559989e-01, -1.09669995e+00,
       -3.28999996e-01, -3.39740008e-01, -1.05499995e+00, -2.17310004e-02,
       -4.31430012e-01, -1.02240004e-01,  2.51580000e-01,  6.50150001e-01,
        2.54390001e-01,  3.88410002e-01, -6.12089992e-01, -3.67659986e-01,
       -1.70550048e-02, -2.82500014e-02,  5.08790016e-01, -3.96124989e-01,
       -7.61889994e-01, -2.34414995e-01,  8.95500183e-03,  2.72002518e-01,
       -7.39279985e-01, -5.39620042e-01,  6.83830023e-01,  4.48764980e-01,
       -2.49235010e+00, -2.09410012e-01, -7.51850083e-02, -6.60849959e-02,
        1.94687501e-01,  2.37369999e-01,  1.47230506e-01,  5.23554981e-01,
        3.38979989e-01,  5.23914993e-01, -1.98644996e-01, -3.41015011e-01,
       -3.08005005e-01, -1.36300027e-02,  2.62920022e-01,  1.53999999e-02,
       -8.50780010e-02, -5.17865002e-01,  6.78815007e-01,  4.77375031e-01,
       -4.66654986e-01, -5.06569982e-01, -5.85919976e-01,  5.36199987e-01,
        6.26845002e-01, -4.25449997e-01,  1.75309986e-01, -6.93712011e-02,
       -3.73815000e-01, -4.47375000e-01, -7.33494982e-02,  5.54875016e-01,
        9.20001417e-04,  6.21114969e-01, -6.25010014e-01, -3.16769987e-01,
       -4.87604976e-01, -4.49694991e-01,  2.40040004e-01,  4.98190016e-01,
       -4.05220002e-01, -8.94149989e-02,  1.60160005e-01,  2.55644992e-02,
        7.24280000e-01, -9.30845022e-01,  3.12554985e-01, -5.29009998e-01,
        2.58385003e-01,  7.08194971e-01, -2.86424994e+00,  3.62430006e-01,
       -1.46550000e-01, -5.74494958e-01,  6.14835024e-01,  5.12170017e-01,
       -8.70999992e-02,  2.06174999e-01, -9.13575053e-01, -2.19833493e-01,
        5.74114978e-01,  1.37339503e-01, -9.45264995e-01,  2.75366545e-01,
       -5.82690001e-01, -6.11900091e-02, -6.16049916e-02,  5.57440042e-01,
        5.87299913e-02, -8.10114980e-01, -3.51119995e-01, -1.35595000e+00,
        2.11199999e-01, -5.09724975e-01,  4.12375003e-01, -1.69805005e-01,
        4.67200011e-01, -6.88165009e-01, -3.28974992e-01,  5.54040015e-01,
       -7.54789948e-01,  4.47375000e-01,  1.23918504e-01,  3.40151012e-01,
       -6.46435022e-02,  4.67565000e-01, -8.40565026e-01, -2.01059997e-01,
       -2.85229995e-03,  6.71239972e-01, -3.64349991e-01,  1.95429996e-01,
       -3.42850000e-01, -3.69320005e-01,  5.63660026e-01,  2.02319995e-01,
       -1.07850003e+00, -7.76099980e-01, -1.88150004e-01, -2.57939994e-01,
       -4.41020012e+00,  9.05979991e-01,  4.73210007e-01,  2.74179995e-01,
       -8.05390000e-01, -8.48330021e-01,  4.72719997e-01,  8.74669999e-02,
       -5.63820004e-01, -2.86900014e-01, -6.28579974e-01, -7.81949982e-02,
        9.07860026e-02,  8.35219979e-01, -2.50669986e-01,  6.04080021e-01,
        9.40349996e-01,  2.50039995e-01,  2.38000005e-01, -8.84329975e-01,
        3.81529987e-01,  7.80939996e-01,  2.10510001e-01, -6.49510026e-01,
       -5.84900022e-01,  3.98380011e-01,  2.27559999e-01, -1.67429996e+00,
        4.55610007e-01, -1.39960006e-01, -3.55710000e-01,  1.49230003e-01,
        5.55220008e-01,  1.07699998e-01,  1.00960004e+00,  4.48709995e-01,
       -5.72499990e-01,  6.75669983e-02])

In [25]:
item_inputs = np.asarray([get_item_input(item) for item in range(0, item_map.shape[0])])

In [26]:
np.save("../data/item_inputs_1m.npy", item_inputs)