In [3]:
# groupby("user").size()

import torch
import lenskit
import pandas as pd

import lenskit.crossfold as xf

In [4]:
ratings = pd.read_csv("../data/ml-20m/ratings.csv")

In [8]:
ratings = ratings.rename(columns={'userId': 'user', 'movieId': 'item'})

In [9]:
split1 = xf.partition_users(ratings, 1, xf.SampleFrac(0.3))
train_valtest = next(split1)
train = train_valtest.train
valtest = train_valtest.test

In [10]:
split2 = xf.partition_users(valtest, 1, xf.SampleFrac(0.5))
val_test = next(split2)
val = val_test.train
test = val_test.test

In [13]:
train.groupby("user").size()

user
1         123
2          43
3         131
4          20
5          46
         ...
138489     27
138490    106
138491     15
138492     57
138493    261
Length: 138493, dtype: int64

In [14]:
val.groupby("user").size()

user
1         26
2          9
3         28
4          4
5         10
          ..
138489     5
138490    23
138491     3
138492    13
138493    56
Length: 138493, dtype: int64

In [15]:
test.groupby("user").size()

user
1         26
2          9
3         28
4          4
5         10
          ..
138489     6
138490    22
138491     4
138492    12
138493    56
Length: 138493, dtype: int64

In [16]:
train.to_pickle("../data/splits/train.pkl")

In [17]:
val.to_pickle("../data/splits/val.pkl")

In [18]:
test.to_pickle("../data/splits/test.pkl")

In [19]:
train.head()

   user  item  rating   timestamp
1     1    29     3.5  1112484676
3     1    47     3.5  1112484727
4     1    50     3.5  1112484580
6     1   151     4.0  1094785734
8     1   253     4.0  1112484940

In [21]:
val.head()

    user  item  rating   timestamp
2      1    32     3.5  1112484819
17     1   593     3.5  1112484661
22     1  1036     4.0  1112485480
23     1  1079     4.0  1094785665
28     1  1136     3.5  1112484609